In [3]:
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SparkSession
from pyspark.mllib.regression import LabeledPoint
from pyspark.mllib.regression import LinearRegressionWithSGD as lrSGD

spark = SparkSession \
    .builder \
    .appName("Python Spark regression example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-1-0b4ecbdae482>:2

In [4]:
regressionDataFrame = spark.read.csv('titanic.csv',header=True, inferSchema = True)

regressionDataFrame.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [5]:
df = regressionDataFrame.where(regressionDataFrame.Name.isNotNull())

In [6]:
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [7]:
names= df.filter((regressionDataFrame.Pclass == 1) & (df.Sex == 'female')).rdd.map(lambda r: r.Name).collect()

In [9]:
for i in names:
    print(i)

Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Bonnell, Miss. Elizabeth
Spencer, Mrs. William Augustus (Marie Eugenie)
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Icard, Miss. Amelie
Fortune, Miss. Mabel Helen
Newsom, Miss. Helen Monypeny
Pears, Mrs. Thomas (Edith Wearne)
Chibnall, Mrs. (Edith Martha Bowerman)
Isham, Miss. Ann Elizabeth
Brown, Mrs. James Joseph (Margaret Tobin)
Lurette, Miss. Elise
Newell, Miss. Madeleine
Bazzani, Miss. Albina
Harris, Mrs. Henry Birkhardt (Irene Wallach)
Thorne, Mrs. Gertrude Maybelle
Cherry, Miss. Gladys
Ward, Miss. Anna
Graham, Mrs. William Thompson (Edith Junkins)
Bissette, Miss. Amelia
Andrews, Miss. Kornelia Theodosia
"Barber, Miss. Ellen ""Nellie"""
Bishop, Mrs. Dickinson H (Helen Walton)
Allison, Miss. Helen Loraine
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Fleming, Miss. Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Wick, Miss. Mary Natalie
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Young, Miss. Marie Grice
Hippach, Miss. Jean Gertrude
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
Burns, Miss. Elizabeth Margaret
Fortune, Miss. Alice Elizabeth
Bowerman, Miss. Elsie Edith
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Aubart, Mme. Leontine Pauline
Meyer, Mrs. Edgar Joseph (Leila Saks)
Bidois, Miss. Rosalie
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
Newell, Miss. Marjorie
Minahan, Miss. Daisy E
Carter, Miss. Lucile Polk
Kenyon, Mrs. Frederick R (Marion)
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Eustis, Miss. Elizabeth Mussey
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Maioni, Miss. Roberta
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Perreault, Miss. Anne
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
LeRoy, Miss. Bertha
Frolicher, Miss. Hedwig Margaritha
Crosby, Miss. Harriet R
"Duff Gordon, Lady. (Lucille Christiana Sutherland) (""Mrs Morgan"")"
Taussig, Mrs. Emil (Tillie Mandelbaum)
Appleton, Mrs. Edward Dale (Charlotte Lamson)
Silvey, Mrs. William Baird (Alice Munger)
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Taussig, Miss. Ruth
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Shutes, Miss. Elizabeth W
Longley, Miss. Gretchen Fiske
Sagesser, Mlle. Emma
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Madill, Miss. Georgette Alexandra
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Cleaver, Miss. Alice
"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")"
Endres, Miss. Caroline Louise
Allen, Miss. Elisabeth Walton
"Ryerson, Miss. Susan Parker ""Suzette"""
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
Carter, Mrs. William Ernest (Lucile Polk)
Hogeboom, Mrs. John C (Anna Andrews)
Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)
Dick, Mrs. Albert Adrian (Vera Gillespie)
Leader, Dr. Alice (Farnham)
Chambers, Mrs. Norman Campbell (Bertha Griggs)
Hays, Mrs. Charles Melville (Clara Jennings Gregg)
Stone, Mrs. George Nelson (Martha Evelyn)
Compton, Miss. Sara Rebecca
Serepeca, Miss. Augusta
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Lines, Miss. Mary Conover
Wick, Mrs. George Dennick (Mary Hitchcock)
Swift, Mrs. Frederick Joel (Margaret Welles Barron)
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
Graham, Miss. Margaret Edith

In [10]:
names2= df.filter((regressionDataFrame.Pclass == 1) & (df.Survived == 1) & (df.Embarked == 'C') & (df.Sex == 'female')).rdd.map(lambda r: r.Name).collect()

In [11]:
for i in names2:
    print(i)

Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Spencer, Mrs. William Augustus (Marie Eugenie)
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Brown, Mrs. James Joseph (Margaret Tobin)
Lurette, Miss. Elise
Newell, Miss. Madeleine
Bazzani, Miss. Albina
Thorne, Mrs. Gertrude Maybelle
Ward, Miss. Anna
Bishop, Mrs. Dickinson H (Helen Walton)
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Fleming, Miss. Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Young, Miss. Marie Grice
Hippach, Miss. Jean Gertrude
Burns, Miss. Elizabeth Margaret
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Aubart, Mme. Leontine Pauline
Meyer, Mrs. Edgar Joseph (Leila Saks)
Bidois, Miss. Rosalie
Newell, Miss. Marjorie
Eustis, Miss. Elizabeth Mussey
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
LeRoy, Miss. Bertha
Frolicher, Miss. Hedwig Margaritha
"Duff Gordon, Lady. (Lucille Christiana Sutherland) (""Mrs Morgan"")"
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Sagesser, Mlle. Emma
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")"
Endres, Miss. Caroline Louise
"Ryerson, Miss. Susan Parker ""Suzette"""
Compton, Miss. Sara Rebecca
Serepeca, Miss. Augusta
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)